.lesson {
    /* display: flex; */
    /* grid-template-columns: min-content 1fr; */
    align-items: center;    

    border-radius: 4px;

    box-shadow: 1px 1px 4px #0003;

    margin-top: 16px;

    background-color: white;
}

.lesson_about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    color: white;
    background-color: #8c50c4;
    padding: 12px 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;


}
.lesson_number {
    
    margin: 0px;
    font-weight: bold;
}
.lesson_time {
    margin: 0px;
}

.info_lesson,
.info_teacher,
.info_room {
    margin: 0px;
}

.info {
    display: grid;
    gap: 4px;
    padding: 20px 20px;
}

.info_lesson {
}

.info_teacher {
}

.info_room {
}

.lesson_icon {
    height: 72px;
}

.none_lesson {
    margin: 0 auto;
}