.date_box {
    display: flex;
    align-items: stretch;

    margin: 16px 0;
    gap: 16px;
}

.date_info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.box {
    padding: 20px 16px;
    border-radius: 4px;
    box-shadow: 1px 1px 4px #0003;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2px;

    width: 100%;

    background-color: white;

    transition-property: background-color;
    transition-timing-function: ease;
    transition-duration: 0.2s;
}

.box:hover {
    background-color: #f6f6f6;
}

.input {
    width: 200px;
    padding: 12px;
    border-radius: 16px;
    font-size: 16px;
    position: absolute;
    visibility: hidden;
    left: -200%;
    flex: 1 0 0;
    border: 0px;
}

@media screen and (min-width: 640px) {
    .box {
        padding: 24px 16px;
        flex-direction: row;
        gap: 16px;
    }

    .input {
        position: static;
        visibility: visible;
    }
}

.box__info {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.icon {
    --icon_size: 24px;
    width: var(--icon_size);
    height: var(--icon_size);
}

.icon path {
    fill: black;
}

.info {
    margin: 0;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 16px;
}

.btns_date {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 10px;
}

.btn_date {
    padding: 14px 16px;
    border-radius: 4px;
    box-shadow: 1px 1px 4px #0003;
    border: 0px;

    background-color: white;
    font-size: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition-property: background-color;
    transition-timing-function: ease;
    transition-duration: 0.2s;
}

.btn_date:hover {
    background-color: #f6f6f6;
}

.icon_btn {
    --size_btn: 20px;
    width: var(--size_btn);
    height: var(--size_btn);
}

.icon_btn_left {
    rotate: -180deg;
}