.lesson_wrapper {
    border-radius: 4px;
    margin-top: 16px;
    box-shadow: 1px 1px 4px #0003;
    overflow: hidden;
}

.lesson_about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    color: white;
    background-color: #8c50c4;
    padding: 12px 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;


}
.lesson_number {
    
    margin: 0px;
    font-weight: bold;
}
.lesson_time {
    margin: 0px;
}

.lesson {

    display: grid;
    grid-template-columns: auto max-content;
    gap: 16px;
    align-items: center;

    padding: 20px 20px;

    background-color: white;
}

.info_edit_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

@media screen and (max-width: 596px) {
    .lesson {
        grid-template-columns: 1fr;
        grid-template-rows: auto max-content;
    }
    .info_edit_box {
        flex-direction: row;
        justify-content: left;
    }
}

.info_lesson,
.info_teacher,
.info_room {
    margin: 0px;
}

.info {
    display: grid;
    gap: 4px;
}

.info_teacher {}

.info_room {}

.btn {
    --btn_size: 42px;
    min-width: var(--btn_size);
    min-height: var(--btn_size);

    border-radius: 4px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    padding: 2px 8px;

    background-color: #A667E1;

    transition: background-color .3s ease;

    border: 0px;
}

.btn span {
    color: #fff;
}

.btn:hover {
    background-color: #9455CF;
}

.modal_header {
    margin: 16px 0px;
}

.modal_desc {
    font-size: 16px;
}

.form {
    display: grid;
    gap: 16px;
    width: 300px;
}

.form_input {
    padding: 12px 16px;

    border-radius: 6px;
    background-color: #e7e7e7;

    border: 0px;

    color: #222;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 16px;
}

.form_input::placeholder, .form_input::-moz-placeholder, .form_input::-webkit-input-placeholder {
    color: gray;
}

.form_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding: 12px;

    border-radius: 6px;
    border: 0px;

    background-color: #A667E1;

    transition: background-color .2s ease;
}

.form_btn:hover {
    background-color: #7738B2;
}

.form_icon {
    --size_icon: 20px;
    width: var(--size_icon);
    height: var(--size_icon);
}

.form_icon path {
    fill: #fff;
}

.form_span {
    color: #fff;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 16px;
}

.delete_button {
    width: 100%;
}