.user_page {
    box-sizing: border-box;
    min-height: 100svh;
    padding: 16px;
}

.user_container {
    max-width: 1200px;

    margin: 0 auto;
    box-sizing: border-box;

    padding-top: 32px;
    padding-bottom: 120px;
}
