.profile {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 20px;
    min-height: 85vh;
}

.profile__form {
    border-radius: 12px;
    padding: 24px;
    box-sizing: border-box;
    border: 2px solid #8a2be2;

    display: grid;
    grid-template-columns: 1fr;
    gap: 14px;
}

.profile__input {
    padding: 14px 16px;
    border-radius: 6px;
    background: #eaeaea;
    border: 0px;
    font-size: 16px;
}

.profile__input--login {
}

.profile__input--password {
}

.profile__change,
.profile__exit {
    border-radius: 6px;
    background-color: #a667e1;
    padding: 14px 16px;
    border: 0px;

    color: #ffffff;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;

    transition: background-color 0.3s ease;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.profile__change:hover,
.profile__exit:hover {
    background-color: #7738b2;
}
